*{
    padding: 0;

    margin: 0;
}

::-webkit-scrollbar {
    display: none; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    width: 100%;
}
a {
    text-decoration: none !important;
    color: white;
    border: none;
}

.menu-nav{
    height: 100vh;
    width: 8%;
    background-color: black;
    position: fixed;
    margin-left: 0;
    display: block;
}

@media (max-width: 781px) {
    .menu-nav button {
        display: none;
    }
}

.main-nav-x{
   display: none;
}

.main-nav-x div {
   display : none;
}

.menu-nav button{
    color: white;
    width: 70px;
}

.main-nav{
    background-color: black;
    display: flex;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: red;
}
.container-items{
    width: 700px;
    height: 500px;
}

.card-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

@media (max-width : 781px) {
    .main-nav-x div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
        z-index: 10;
    }

    .main-nav-x{
        display: block;
        background-color: black;
        position: fixed;
        top: 90%;
        width: 100%;
        height: 10%;
    }
    

}








/* here on shorts css */

.Shorts-comtainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 100px;
    
}

.Shorts-comtainer iframe{
    border-radius: 30px;    
}










/* 
this 
is the account(you) styles */

.marquee-space{
    margin-left: 80px;
}

.your-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
}


.history{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.history-videos{
    display: flex;
    margin-left: 30px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none; 
}

.history-videos::-webkit-scrollbar {
    display: none; 
}


.history-videos img{
    width: 300px;
    border-radius: 25px;
    margin-right: 20px;
    
}

.play-list{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}








/* 
this is the play - vdeo parrt 
*/

.suggestion-videos div img{
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
    margin-left: 30px;
}
.suggestion-videos div p{
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
}
